.container{
    background: white;
    margin: 130px 35% 40px 35%;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3),
                0 25px 50px 0 rgba(0,0,0,0.1);
}

.new-input{
    background: rgba(0,0,0,0.003);
    margin: 16px 16px 16px 50px;
    font-family: 'Lobster', cursive;
    font-size: 24px;
    text-shadow: 1px 1px 1px white;
    outline: transparent;
    border: none;
}

.container h1 {
    position: absolute;
    top:-100px;
    width: 100%;
    color: #f7c845;
    font-weight: 400;
    font-family: 'Lobster', cursive;
}

label{
    font-family: 'Lobster', cursive;
    font-size: 24px;
    font-weight: 400;
}

.principal{
    position: relative;
    z-index: 2;
    border-top: 1px solid #e6e6e6;
}

.toggle-all{
    width: 1px;
    height: 1px;
    border: none;
    opacity: 0;
    position: absolute;
    right: 100%;
    left: 100%;
}

.toggle-all + label{
    width: 60px;
    height: 34px;
    font-size: 0;
    position: absolute;
    top: -52px;
    left: 16px;
    transform: rotate(90deg);
}

.toggle-all + label:before {
    content: '❯';
    font-size: 50px;
    color: #e6e6e6;
    padding: 10px 27px 10px 27px;
}

.toggle-all:checked + label:before {
    color: #737373;
}

.list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.list li{
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
}

.list li:last-child{
    border-bottom: none;
}

.list li .toggle{
    text-align: center;
    width: 40px;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: none;
    appearance: none;
}

.list li.toggle{
    opacity: 0;
}

.list li .toggle + label {
    background-image: url("images/check_border.svg");
    background-repeat: no-repeat;
    background-position: center left;
}

.list li .toggle:checked + label {
    background-image: url("images/check_with_border.svg");
}

.list li label {
    word-break: break-all;
    padding: 15px 15px 15px 60px;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
}

.list li.completed label {
    color: #d9d9d9;
    text-decoration: line-through;
}






